.maincls{
    /* float: top;
    width: 1510px;
    height: 800px; */
}
.subcls
{
    
    /* float: top;
    width: 100%;

    height: 730px; */
}
.topbanner{
    padding-top: 0px;
    
    width: 100%;
    height: 86px;
}
.fblogo{
    padding-top: 21px;
    padding-left: 640px;
    width: 216px;
    height: 67px;
}
.content{
    
margin-top: 17px;
    margin-left: 541px;
    width: 424px;
    height: 595px;
    background: white;
   box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
   border-radius: 8px;
}
.cana{
   padding-top: 15px;
    font-size: 25px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}
.h3{
    color: #5f5f60;
    font-size: 10px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif; 
}
.login{
    height: 290px;
    /* background: #5f5f60; */
    width: 420px;
}
#name{
    font-family: Helvetica, Arial, sans-serif; 
    border:1px solid #727272;
    height: 35px;
    width: 180px;
    border-radius: 4px;
    margin-left: 15px;
    margin-top: 7px;
}
#sname{
    font-family: Helvetica, Arial, sans-serif; 
    border:1px solid #727272;
    height: 35px;
    width: 185px;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 7px; 
}
#email{
    font-family: Helvetica, Arial, sans-serif; 
    border:1px solid #727272;
    height: 35px;
    width: 385px;
    border-radius: 4px;
    margin-left: 15px;
    margin-top: 10px;
}
#pass{
    font-family: Helvetica, Arial, sans-serif; 
    border:1px solid #727272;
    height: 35px;
    width: 385px;
    border-radius: 4px;
    margin-left: 15px;
    margin-top: 10px;
}
.lbdate{
    margin-top: 5px;
    font-size: 10px;
    margin-left: 15px;
    font-family: Helvetica, Arial, sans-serif; }
.date{
    font-family: Helvetica, Arial, sans-serif; 
    height: 38px;
    width: 385px;
    border-radius: 4px;
    margin-left: 15px;
    margin-top: 15px;
}
#day{
    border:1px solid #727272;
    border-radius: 4px;
    width: 120px;
    height: 38px;
}
#month{
    margin-left: 8px;
    border:1px solid #727272;
    border-radius: 4px;
    width: 120px;
    height: 38px;
}
#year{
    margin-left: 8px;
    border:1px solid #727272;
    border-radius: 4px;
    width: 120px;
    height: 38px;
}
.font{
    margin-left: 15px;
font-size: 12px;
}
.gender
{
    margin-left: 15px;
}
.btn{
    border: 0;
    background: rgb(48, 179, 48);
    border-radius: 8px;
    width: 180px;
    height: 35px;
    margin-top: 0px;
margin-left: 130px;
}
.link{
    
    margin-left: 138px;
}
body{
    margin: 0%;
}
